<section class="py-5 my-5">
    <div class="container">
      <h1 class="text-center pb-5 display-6 mb-5 px-4">Lorem ipsum dolor sit amet consectetur adipisicing elit.</h1>
      <div class="row align-items-center">
        <div class="col-12 col-lg-6 px-4 text-secondary">
          <p class="fw-bold text-dark">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Distinctio, provident debitis incidunt nemo aperiam voluptas excepturi ex atque repellendus sed praesentium adipisci iste totam dolorum et asperiores neque nulla veniam alias. Enim voluptate veniam nihil fugit sunt quidem aliquam quos eaque, hic neque adipisci exercitationem consequatur repellendus tenetur obcaecati corrupti?
          </p>
          <br />
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repellat eos id corrupti at, eum consectetur quibusdam sequi enim, saepe, nulla nam similique! Illum pariatur repellendus, ipsa fugit eum dolorum velit?
          </p>
          
          
           
        </div>
        <div class="col-12 col-lg-6 px-4">
            <img src="../../../../assets/img/about1.jpg" class="w-100 h-100">
           </div>
      </div>
    </div>
</section>
<section>
    <div class="card-group my-5 py-5">
        <div class="card mx-2">
            <img src="../../../../assets/img/card1.jpg" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title">
                    Lorem ipsum dolor sit amet.
                </h5>
                <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Molestiae, velit. Omnis ad architecto atque quo? </p>
            </div>
        </div>
        <div class="card mx-2">
            <img src="../../../../assets/img/card2.jpg" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title">
                    Lorem ipsum dolor sit amet.
                </h5>
                <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Molestiae, velit. Omnis ad architecto atque quo? </p>
            </div>
        </div>
        <div class="card mx-2">
            <img src="../../../../assets/img/card3.jpg" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title">
                    Lorem ipsum dolor sit amet.
                </h5>
                <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Molestiae, velit. Omnis ad architecto atque quo? </p>
            </div>
        </div>
    </div>
</section>
