
<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Tipo de lote</th>
        <th scope="col">Precio</th>
        <th scope="col">Precio por m2</th>
        <th scope="col">Ubicación</th>
        <th scope="col">Año de construcción</th>
        <th scope="col">Descripción</th>
        <th scope="col">Tamaño de lote</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
      </tr>
    </tbody>
  </table>